@import 'reset', 'mixin';

// 색상
$color-background: #ced8e4;
$color-button: #162149;
$color-white: #ffffff;
$color-reserved: #3bb94c;
$color-seated: #162149;

// 사이즈
$detail-wrapper-width: 500px;
$header-height: 150px;

$font-xs: 0.625em;
$font-sm: 0.812em;
$font-md: 1em;
$font-lg: 1.125em;

// 여백
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 20px;

body {
  background-color: $color-background;
}

header {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2.5em;
  }
}

@include mobile {
  .list-wrapper {
    width: 100%;
  }
}

@include desktop {
  .list-wrapper {
    width: calc(100% - $detail-wrapper-width - $spacing-sm);
  }
}

.list-wrapper {
  height: calc(100vh - $header-height - $spacing-md);
  padding: 0 $spacing-sm;

  ul {
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    li:not(:first-child) {
      margin-top: $spacing-md;
    }
  }
}

.list {
  height: 120px;
  display: flex;
  padding: $spacing-lg;
  background-color: $color-white;
  border-radius: 10px;
  cursor: pointer;
  gap: $spacing-md;

  &:hover {
    border: 2px solid darken($color-background, 30%);
  }

  &.clicked {
    border: 4px solid darken($color-background, 30%);
  }

  & > * {
    margin: auto;
  }

  .ellipsis-1 {
    @include ellipsis(1);
  }

  &-state {
    width: 70px;
    display: flex;
    flex-shrink: 0;
    font-size: $font-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-sm;

    // mixin으로 변경 가능
    [data-status='reserved'] {
      color: $color-reserved;
    }

    [data-status='seated'] {
      color: $color-seated;
    }
  }

  &-content {
    flex-grow: 1;
    font-size: $font-md;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    overflow: hidden;
  }

  &-button {
    width: 70px;
    height: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 5px;
    font-size: $font-md;
    cursor: pointer;
    background-color: $color-button;
    color: $color-white;

    &:hover {
      background-color: lighten($color-button, 30%);
    }
  }
}

@include mobile {
  .detail-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    display: block;

    &.close {
      display: none;
    }

    .detail {
      width: 100%;
      position: absolute;
      top: 80px;
      height: calc(100vh - 80px);

      .button-close {
        display: block;
      }
    }
  }
}

@include desktop {
  .detail-wrapper {
    width: $detail-wrapper-width;
    position: fixed;
    height: calc(100vh - $header-height - $spacing-md);
    top: $header-height;
    right: $spacing-sm;
    background-color: $color-white;
    border-radius: 10px;

    .detail {
      height: 100%;

      .button-close {
        display: none;
      }
    }
  }
}

.detail {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: $spacing-lg;
  background-color: $color-white;
  border-radius: 10px;

  .button-close {
    position: absolute;
    top: $spacing-lg * 1.5;
    right: $spacing-lg * 1.5;
    border: none;
    background-color: $color-white;
    font-size: $font-md;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  & > div {
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
  }

  h3 {
    grid-column: 1 / 3;
    text-align: center;
  }

  .ellipsis-3 {
    @include ellipsis(3);
  }
}
