// screen
$breakpoints-mobile: 320px;
$breakpoints-desktop: 1024px;

// 색상
$color-background: #ced8e4;
$color-button: #162149;
$color-white: #ffffff;
$color-reserved: #3bb94c;
$color-seated: #162149;

// 사이즈
$detail-wrapper-width: 500px;
$header-height: 150px;

// 폰트
$font-xs: 0.625em;
$font-sm: 0.812em;
$font-md: 1em;
$font-lg: 1.125em;

// 여백
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 20px;
